# coding: utf-8

"""
    Riffyn REST API

    ### Vocabulary Before you begin, please familiarize yourself with our [Glossary of Terms](https://help.riffyn.com/hc/en-us/articles/360045503694). ### Getting Started If you'd like to play around with the API, there are several free GUI tools that will allow you to send requests and receive responses. We suggest using the free app [Postman](https://www.getpostman.com/). ### Authentication Begin with a call the [authenticate](/#api-Authentication-authenticate) endpoint using [HTTP Basic authentication](https://en.wikipedia.org/wiki/Basic_access_authentication) with your `username` and `password` to retrieve either an API Key or an Access Token. For example:      curl -X POST -u '<username>' https://api.app.riffyn.com/v1/auth -v  You may then use either the API Key or the accessToken for all future requests to the API. For example:      curl -H 'access-token: <ACCESS_TOKEN>' https://api.app.riffyn.com/v1/units -v      curl -H 'api-key: <API_KEY>' https://api.app.riffyn.com/v1/units -v  The tokens' values will be either in the message returned by the `/authenticate` endpoint or in the createApiKey `/auth/api-key` or CreateAccesToken `/auth/access-token` endpoints. The API Key will remain valid until it is deauthorized by revoking it through the Security Settings in the Riffyn App UI. The API Key is best for running scripts and longer lasting interactions with the API. The Access Token will expire automatically and is best suited to granting applications short term access to the Riffyn API. Make your requests by sending the HTTP header `api-key: $API_KEY`, or `access-token: $ACCESS_TOKEN`. In Postman, add your prefered token to the headers under the Headers tab for any request other than the original request to `/authenticate`.  If you are enrolled in MultiFactor Authentication (MFA) the `status` returned by the `/authenticate` endpoint will be `MFA_REQUIRED`. A `passCode`, a `stateToken`, and a `factorId` must be passed to the [/verify](/#api-Authentication-verify) endpoint to complete the authentication process and achieve the `SUCCESS` status. MFA must be managed in the Riffyn App UI.  ### Paging and Sorting The majority of endpoints that return a list of data support paging and sorting through the use of three properties, `limit`,  `offset`, and `sort`. Please see the list of query parameters, displayed below each endpoint's code examples, to see if paging or sorting is supported for that specific endpoint.  Certain endpoints return data that's added frequently, like resources. As a result, you may want filter results on either the maximum or minimum creation timestamp. This will prevent rows from shifting their position from the top of the list, as you scroll though subsequent pages of a multi-page response.  Before querying for the first page, store the current date-time (in memory, a database, a file...). On subsequent pages you *may* include the `before` query parameter, to limit the results to records created before that date-time. E.g. before loading page one, you store the current date time of `2016-10-31T22:00:00Z` (ISO date format). Later, when generating the URL for page two, you *could* limit the results by including the query parameter `before=1477951200000` (epoch timestamp).  ### Postman endpoint examples There is a YAML file with the examples of the request on Riffyn API [Click here](/collection) to get the file. If you don't know how to import the collection file, [here](https://learning.postman.com/docs/postman/collections/data-formats/#importing-postman-data) are the steps. ### Client SDKs You may write your own API client, or you may use one of ours. [Click here](/clients) to select your programming language and download an API client.   # noqa: E501

    OpenAPI spec version: 1.4.0
    Contact: support@riffyn.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ExperimentApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_comment_to_experiment(self, body, id, **kwargs):  # noqa: E501
        """add_comment_to_experiment  # noqa: E501

        Adds a comment (or observation) to an experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_comment_to_experiment(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CommentBody body: A JSON object containing the options for creating the comment. (required)
        :param str id: The `_id` of the experiment you would like to add the comment to. (required)
        :return: CommentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.add_comment_to_experiment_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_comment_to_experiment_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def add_comment_to_experiment_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """add_comment_to_experiment  # noqa: E501

        Adds a comment (or observation) to an experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_comment_to_experiment_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CommentBody body: A JSON object containing the options for creating the comment. (required)
        :param str id: The `_id` of the experiment you would like to add the comment to. (required)
        :return: CommentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_comment_to_experiment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_comment_to_experiment`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `add_comment_to_experiment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/experiment/{id}/comment', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CommentResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_component_to_resource_type(self, body, id, activity_id, resource_def_id, **kwargs):  # noqa: E501
        """add_component_to_resource_type  # noqa: E501

        Ad hoc addition of a component to a resource type on the `input` or `output` of an activity on an experiment. Only ad hoc added components can be deleted from the experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_component_to_resource_type(body, id, activity_id, resource_def_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Body3 body: A JSON object containing the options for adding the component. (required)
        :param str id: The `_id` of the experiment the component is being added to. (required)
        :param str activity_id: The `_id` of the activity the component is being added to. Refers to the Process Activity `_id` from the `listActivities` endpoint. (required)
        :param str resource_def_id: The `_id` of the `input` or `output` on the activity for the component being added. (required)
        :return: InlineResponse2003
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.add_component_to_resource_type_with_http_info(body, id, activity_id, resource_def_id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_component_to_resource_type_with_http_info(body, id, activity_id, resource_def_id, **kwargs)  # noqa: E501
            return data

    def add_component_to_resource_type_with_http_info(self, body, id, activity_id, resource_def_id, **kwargs):  # noqa: E501
        """add_component_to_resource_type  # noqa: E501

        Ad hoc addition of a component to a resource type on the `input` or `output` of an activity on an experiment. Only ad hoc added components can be deleted from the experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_component_to_resource_type_with_http_info(body, id, activity_id, resource_def_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Body3 body: A JSON object containing the options for adding the component. (required)
        :param str id: The `_id` of the experiment the component is being added to. (required)
        :param str activity_id: The `_id` of the activity the component is being added to. Refers to the Process Activity `_id` from the `listActivities` endpoint. (required)
        :param str resource_def_id: The `_id` of the `input` or `output` on the activity for the component being added. (required)
        :return: InlineResponse2003
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id', 'activity_id', 'resource_def_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_component_to_resource_type" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_component_to_resource_type`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `add_component_to_resource_type`")  # noqa: E501
        # verify the required parameter 'activity_id' is set
        if ('activity_id' not in params or
                params['activity_id'] is None):
            raise ValueError("Missing the required parameter `activity_id` when calling `add_component_to_resource_type`")  # noqa: E501
        # verify the required parameter 'resource_def_id' is set
        if ('resource_def_id' not in params or
                params['resource_def_id'] is None):
            raise ValueError("Missing the required parameter `resource_def_id` when calling `add_component_to_resource_type`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'activity_id' in params:
            path_params['activityId'] = params['activity_id']  # noqa: E501
        if 'resource_def_id' in params:
            path_params['resourceDefId'] = params['resource_def_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/experiment/{id}/activity/{activityId}/resource-type/{resourceDefId}/component', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2003',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_property_type_to_experiment(self, body, id, activity_id, resource_def_id, **kwargs):  # noqa: E501
        """add_property_type_to_experiment  # noqa: E501

        Ad hoc addition of a property type to a resource type on the `input` or `output` of an activity of a experiment. Only ad hoc added property types can be deleted from the experiment. Will be created with default unit for the property type.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_property_type_to_experiment(body, id, activity_id, resource_def_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Body4 body: A JSON object containing the options for adding the property type. (required)
        :param str id: The `_id` of the experiment. (required)
        :param str activity_id: The `_id` of the activity. Refers to the Process Activity `_id` from the `listActivities` endpoint. (required)
        :param str resource_def_id: The `_id` of the `input` or `output` on the activity for the resource type the property type will be added to. (required)
        :return: InlineResponse2005
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.add_property_type_to_experiment_with_http_info(body, id, activity_id, resource_def_id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_property_type_to_experiment_with_http_info(body, id, activity_id, resource_def_id, **kwargs)  # noqa: E501
            return data

    def add_property_type_to_experiment_with_http_info(self, body, id, activity_id, resource_def_id, **kwargs):  # noqa: E501
        """add_property_type_to_experiment  # noqa: E501

        Ad hoc addition of a property type to a resource type on the `input` or `output` of an activity of a experiment. Only ad hoc added property types can be deleted from the experiment. Will be created with default unit for the property type.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_property_type_to_experiment_with_http_info(body, id, activity_id, resource_def_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Body4 body: A JSON object containing the options for adding the property type. (required)
        :param str id: The `_id` of the experiment. (required)
        :param str activity_id: The `_id` of the activity. Refers to the Process Activity `_id` from the `listActivities` endpoint. (required)
        :param str resource_def_id: The `_id` of the `input` or `output` on the activity for the resource type the property type will be added to. (required)
        :return: InlineResponse2005
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id', 'activity_id', 'resource_def_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_property_type_to_experiment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_property_type_to_experiment`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `add_property_type_to_experiment`")  # noqa: E501
        # verify the required parameter 'activity_id' is set
        if ('activity_id' not in params or
                params['activity_id'] is None):
            raise ValueError("Missing the required parameter `activity_id` when calling `add_property_type_to_experiment`")  # noqa: E501
        # verify the required parameter 'resource_def_id' is set
        if ('resource_def_id' not in params or
                params['resource_def_id'] is None):
            raise ValueError("Missing the required parameter `resource_def_id` when calling `add_property_type_to_experiment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'activity_id' in params:
            path_params['activityId'] = params['activity_id']  # noqa: E501
        if 'resource_def_id' in params:
            path_params['resourceDefId'] = params['resource_def_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/experiment/{id}/activity/{activityId}/resource-type/{resourceDefId}/property-type', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2005',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_resource_type_to_experiment(self, body, id, activity_id, **kwargs):  # noqa: E501
        """add_resource_type_to_experiment  # noqa: E501

        Ad hoc addition of a resource type to the `input` or `output` of an activity on an experiment. Default components and properties of the resource type will be included. Only ad hoc resource types can be deleted from the experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_resource_type_to_experiment(body, id, activity_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AddResourceDefBody body: A JSON object containing the options for adding the resource type. (required)
        :param str id: The `_id` of the experiment to manage the data to. (required)
        :param str activity_id: The `_id` of the activity the resource type is being added to. Refers to the Process Activity `_id` from the `listActivities` endpoint. (required)
        :return: InlineResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.add_resource_type_to_experiment_with_http_info(body, id, activity_id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_resource_type_to_experiment_with_http_info(body, id, activity_id, **kwargs)  # noqa: E501
            return data

    def add_resource_type_to_experiment_with_http_info(self, body, id, activity_id, **kwargs):  # noqa: E501
        """add_resource_type_to_experiment  # noqa: E501

        Ad hoc addition of a resource type to the `input` or `output` of an activity on an experiment. Default components and properties of the resource type will be included. Only ad hoc resource types can be deleted from the experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_resource_type_to_experiment_with_http_info(body, id, activity_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AddResourceDefBody body: A JSON object containing the options for adding the resource type. (required)
        :param str id: The `_id` of the experiment to manage the data to. (required)
        :param str activity_id: The `_id` of the activity the resource type is being added to. Refers to the Process Activity `_id` from the `listActivities` endpoint. (required)
        :return: InlineResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id', 'activity_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_resource_type_to_experiment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_resource_type_to_experiment`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `add_resource_type_to_experiment`")  # noqa: E501
        # verify the required parameter 'activity_id' is set
        if ('activity_id' not in params or
                params['activity_id'] is None):
            raise ValueError("Missing the required parameter `activity_id` when calling `add_resource_type_to_experiment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'activity_id' in params:
            path_params['activityId'] = params['activity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/experiment/{id}/activity/{activityId}/resource-type', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse200',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_summary_to_experiment(self, body, id, **kwargs):  # noqa: E501
        """add_summary_to_experiment  # noqa: E501

        Adds a summary and a purpose for the specified experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_summary_to_experiment(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SummaryBody body: A JSON object containing the options for creating the summary. (required)
        :param str id: The `_id` of the experiment you would like to add the summary to. (required)
        :return: SummaryResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.add_summary_to_experiment_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_summary_to_experiment_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def add_summary_to_experiment_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """add_summary_to_experiment  # noqa: E501

        Adds a summary and a purpose for the specified experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_summary_to_experiment_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SummaryBody body: A JSON object containing the options for creating the summary. (required)
        :param str id: The `_id` of the experiment you would like to add the summary to. (required)
        :return: SummaryResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_summary_to_experiment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_summary_to_experiment`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `add_summary_to_experiment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/experiment/{id}/summary', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SummaryResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_tag_to_experiment(self, body, id, **kwargs):  # noqa: E501
        """add_tag_to_experiment  # noqa: E501

        Adds a tag to an experiment. If the tag doesn't exist, it will create it and add it to the experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_tag_to_experiment(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Body body: A JSON object containing the options for creating the tag. (required)
        :param str id: The `_id` of the experiment you would like to add the tag to. (required)
        :return: Tag
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.add_tag_to_experiment_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_tag_to_experiment_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def add_tag_to_experiment_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """add_tag_to_experiment  # noqa: E501

        Adds a tag to an experiment. If the tag doesn't exist, it will create it and add it to the experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_tag_to_experiment_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Body body: A JSON object containing the options for creating the tag. (required)
        :param str id: The `_id` of the experiment you would like to add the tag to. (required)
        :return: Tag
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_tag_to_experiment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_tag_to_experiment`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `add_tag_to_experiment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/experiment/{id}/tag', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Tag',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def apply_upload_config(self, body, id, activity_id, **kwargs):  # noqa: E501
        """apply_upload_config  # noqa: E501

        Apply an upload configuration (or parseConfig) to an uploaded dataFile to add data to an activity. Manual data is required if it exists for the upload configuration. Excess manual data is ignored.  To find upload configurations: `/process/:id/upload-configs`.  Retrieve `_id` returned when uploading dataFile:  `/experiment/:id/activity/:activityId/upload`.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apply_upload_config(body, id, activity_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApplyConfigBody body: A JSON object containing the ids required for applying the configuration. (required)
        :param str id: The `_id` of the experiment to manage the data to. (required)
        :param str activity_id: The `_id` of activity (step) to add the data to. Refers to the Process Activity `_id` from the `listActivities` endpoint. When using the `listExperimentActivities` endpoint, use the `objectId`. (required)
        :return: ApplyConfigResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.apply_upload_config_with_http_info(body, id, activity_id, **kwargs)  # noqa: E501
        else:
            (data) = self.apply_upload_config_with_http_info(body, id, activity_id, **kwargs)  # noqa: E501
            return data

    def apply_upload_config_with_http_info(self, body, id, activity_id, **kwargs):  # noqa: E501
        """apply_upload_config  # noqa: E501

        Apply an upload configuration (or parseConfig) to an uploaded dataFile to add data to an activity. Manual data is required if it exists for the upload configuration. Excess manual data is ignored.  To find upload configurations: `/process/:id/upload-configs`.  Retrieve `_id` returned when uploading dataFile:  `/experiment/:id/activity/:activityId/upload`.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apply_upload_config_with_http_info(body, id, activity_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApplyConfigBody body: A JSON object containing the ids required for applying the configuration. (required)
        :param str id: The `_id` of the experiment to manage the data to. (required)
        :param str activity_id: The `_id` of activity (step) to add the data to. Refers to the Process Activity `_id` from the `listActivities` endpoint. When using the `listExperimentActivities` endpoint, use the `objectId`. (required)
        :return: ApplyConfigResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id', 'activity_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method apply_upload_config" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `apply_upload_config`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `apply_upload_config`")  # noqa: E501
        # verify the required parameter 'activity_id' is set
        if ('activity_id' not in params or
                params['activity_id'] is None):
            raise ValueError("Missing the required parameter `activity_id` when calling `apply_upload_config`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'activity_id' in params:
            path_params['activityId'] = params['activity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/experiment/{id}/activity/{activityId}/apply-config', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApplyConfigResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def apply_upload_config_collection(self, body, id, **kwargs):  # noqa: E501
        """apply_upload_config_collection  # noqa: E501

        Apply an upload configuration (or parseConfig) to an uploaded dataFile to add data to an experiment. A collection will apply all the upload configuration it contains. A collection may contain configurations for more than one activity. Manual data is required for each configuration where it exists. Excess manual data is ignored.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apply_upload_config_collection(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApplyConfigCollectionBody body: A JSON object containing the ids required for applying the configuration collection. (required)
        :param str id: The `_id` of the experiment to manage the data to. (required)
        :return: ApplyConfigCollectionResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.apply_upload_config_collection_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.apply_upload_config_collection_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def apply_upload_config_collection_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """apply_upload_config_collection  # noqa: E501

        Apply an upload configuration (or parseConfig) to an uploaded dataFile to add data to an experiment. A collection will apply all the upload configuration it contains. A collection may contain configurations for more than one activity. Manual data is required for each configuration where it exists. Excess manual data is ignored.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apply_upload_config_collection_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApplyConfigCollectionBody body: A JSON object containing the ids required for applying the configuration collection. (required)
        :param str id: The `_id` of the experiment to manage the data to. (required)
        :return: ApplyConfigCollectionResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method apply_upload_config_collection" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `apply_upload_config_collection`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `apply_upload_config_collection`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/experiment/{id}/apply-config-collection', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApplyConfigCollectionResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def clone_experiment(self, body, id, **kwargs):  # noqa: E501
        """clone_experiment  # noqa: E501

        Creates a new experiment, using an existing experiment as a template. Any run groups or runs that are associated. with the source experiment `_id` will also be cloned. Run data will not be cloned.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.clone_experiment(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Body1 body: A JSON object containing the options for creating the clone. (required)
        :param str id: The `_id` of the experiment you would like to clone. (required)
        :return: Experiment
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.clone_experiment_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.clone_experiment_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def clone_experiment_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """clone_experiment  # noqa: E501

        Creates a new experiment, using an existing experiment as a template. Any run groups or runs that are associated. with the source experiment `_id` will also be cloned. Run data will not be cloned.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.clone_experiment_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Body1 body: A JSON object containing the options for creating the clone. (required)
        :param str id: The `_id` of the experiment you would like to clone. (required)
        :return: Experiment
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method clone_experiment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `clone_experiment`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `clone_experiment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/experiment/{id}/clone', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Experiment',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_experiment(self, body, **kwargs):  # noqa: E501
        """create_experiment  # noqa: E501

        Creates a new experiment for a process. Not specifying a `version` value will create the new experiment from the current (working) version of the specified process.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_experiment(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param NewExperimentBody body: A JSON object containing the necessary properties to create a new experiment. (required)
        :return: Experiment
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_experiment_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_experiment_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_experiment_with_http_info(self, body, **kwargs):  # noqa: E501
        """create_experiment  # noqa: E501

        Creates a new experiment for a process. Not specifying a `version` value will create the new experiment from the current (working) version of the specified process.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_experiment_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param NewExperimentBody body: A JSON object containing the necessary properties to create a new experiment. (required)
        :return: Experiment
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_experiment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_experiment`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/experiment', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Experiment',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_component_from_resource_type(self, id, activity_id, resource_def_id, component_id, **kwargs):  # noqa: E501
        """delete_component_from_resource_type  # noqa: E501

        Ad hoc removal of a component on a resource type from the `input` or `output` of an activity on an experiment. Only ad hoc added components can be deleted from the experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_component_from_resource_type(id, activity_id, resource_def_id, component_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The `_id` of the experiment the resource type. (required)
        :param str activity_id: The `_id` of the activity the resource type. Refers to the Process Activity `_id` from the `listActivities` endpoint. (required)
        :param str resource_def_id: The `_id` of the `input` or `output` on the activity for the the resource type. (required)
        :param str component_id: The resource type `_id` of the component being removed from a resource type on the `input` or `output` on the activity. (required)
        :return: InlineResponse2004
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_component_from_resource_type_with_http_info(id, activity_id, resource_def_id, component_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_component_from_resource_type_with_http_info(id, activity_id, resource_def_id, component_id, **kwargs)  # noqa: E501
            return data

    def delete_component_from_resource_type_with_http_info(self, id, activity_id, resource_def_id, component_id, **kwargs):  # noqa: E501
        """delete_component_from_resource_type  # noqa: E501

        Ad hoc removal of a component on a resource type from the `input` or `output` of an activity on an experiment. Only ad hoc added components can be deleted from the experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_component_from_resource_type_with_http_info(id, activity_id, resource_def_id, component_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The `_id` of the experiment the resource type. (required)
        :param str activity_id: The `_id` of the activity the resource type. Refers to the Process Activity `_id` from the `listActivities` endpoint. (required)
        :param str resource_def_id: The `_id` of the `input` or `output` on the activity for the the resource type. (required)
        :param str component_id: The resource type `_id` of the component being removed from a resource type on the `input` or `output` on the activity. (required)
        :return: InlineResponse2004
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'activity_id', 'resource_def_id', 'component_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_component_from_resource_type" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_component_from_resource_type`")  # noqa: E501
        # verify the required parameter 'activity_id' is set
        if ('activity_id' not in params or
                params['activity_id'] is None):
            raise ValueError("Missing the required parameter `activity_id` when calling `delete_component_from_resource_type`")  # noqa: E501
        # verify the required parameter 'resource_def_id' is set
        if ('resource_def_id' not in params or
                params['resource_def_id'] is None):
            raise ValueError("Missing the required parameter `resource_def_id` when calling `delete_component_from_resource_type`")  # noqa: E501
        # verify the required parameter 'component_id' is set
        if ('component_id' not in params or
                params['component_id'] is None):
            raise ValueError("Missing the required parameter `component_id` when calling `delete_component_from_resource_type`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'activity_id' in params:
            path_params['activityId'] = params['activity_id']  # noqa: E501
        if 'resource_def_id' in params:
            path_params['resourceDefId'] = params['resource_def_id']  # noqa: E501
        if 'component_id' in params:
            path_params['componentId'] = params['component_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/experiment/{id}/activity/{activityId}/resource-type/{resourceDefId}/component/{componentId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2004',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_experiment(self, id, **kwargs):  # noqa: E501
        """delete_experiment  # noqa: E501

        Performs a 'soft delete' on an existing experiment. The experiment will still be accessible through the api when searching by `_id` on `getExperiment` endpoint or with the query parameter `deleted` on `listExperiments` endpoint. A deleted experiment will be marked as purged and remain in the database for 7 days. The experiment will then be permanently deleted.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_experiment(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The `_id` of the experiment. (required)
        :return: SuccessfullyDelete
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_experiment_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_experiment_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def delete_experiment_with_http_info(self, id, **kwargs):  # noqa: E501
        """delete_experiment  # noqa: E501

        Performs a 'soft delete' on an existing experiment. The experiment will still be accessible through the api when searching by `_id` on `getExperiment` endpoint or with the query parameter `deleted` on `listExperiments` endpoint. A deleted experiment will be marked as purged and remain in the database for 7 days. The experiment will then be permanently deleted.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_experiment_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The `_id` of the experiment. (required)
        :return: SuccessfullyDelete
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_experiment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_experiment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/experiment/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessfullyDelete',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_experiment_comment(self, id, comment_id, **kwargs):  # noqa: E501
        """delete_experiment_comment  # noqa: E501

        Deletes the specific comment (or observation) associated with an experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_experiment_comment(id, comment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The `_id` of the experiment. (required)
        :param str comment_id: The `_id` of the comment. (required)
        :return: CommentDeleted
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_experiment_comment_with_http_info(id, comment_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_experiment_comment_with_http_info(id, comment_id, **kwargs)  # noqa: E501
            return data

    def delete_experiment_comment_with_http_info(self, id, comment_id, **kwargs):  # noqa: E501
        """delete_experiment_comment  # noqa: E501

        Deletes the specific comment (or observation) associated with an experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_experiment_comment_with_http_info(id, comment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The `_id` of the experiment. (required)
        :param str comment_id: The `_id` of the comment. (required)
        :return: CommentDeleted
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'comment_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_experiment_comment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_experiment_comment`")  # noqa: E501
        # verify the required parameter 'comment_id' is set
        if ('comment_id' not in params or
                params['comment_id'] is None):
            raise ValueError("Missing the required parameter `comment_id` when calling `delete_experiment_comment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'comment_id' in params:
            path_params['commentId'] = params['comment_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/experiment/{id}/comment/{commentId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CommentDeleted',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_experiment_summary(self, id, summary_id, **kwargs):  # noqa: E501
        """delete_experiment_summary  # noqa: E501

        Deletes the summary and purpose for the specified experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_experiment_summary(id, summary_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The `_id` of the experiment. (required)
        :param str summary_id: The `_id` of the summary to be removed. (required)
        :return: SummaryDeleted
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_experiment_summary_with_http_info(id, summary_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_experiment_summary_with_http_info(id, summary_id, **kwargs)  # noqa: E501
            return data

    def delete_experiment_summary_with_http_info(self, id, summary_id, **kwargs):  # noqa: E501
        """delete_experiment_summary  # noqa: E501

        Deletes the summary and purpose for the specified experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_experiment_summary_with_http_info(id, summary_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The `_id` of the experiment. (required)
        :param str summary_id: The `_id` of the summary to be removed. (required)
        :return: SummaryDeleted
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'summary_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_experiment_summary" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_experiment_summary`")  # noqa: E501
        # verify the required parameter 'summary_id' is set
        if ('summary_id' not in params or
                params['summary_id'] is None):
            raise ValueError("Missing the required parameter `summary_id` when calling `delete_experiment_summary`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'summary_id' in params:
            path_params['summaryId'] = params['summary_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/experiment/{id}/summary/{summaryId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SummaryDeleted',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_property_type_from_experiment(self, id, activity_id, resource_def_id, property_type_id, **kwargs):  # noqa: E501
        """delete_property_type_from_experiment  # noqa: E501

        Performs a 'soft delete' on an existing experiment. The experiment will still be accessible through the api when searching by `_id` on `getExperiment` endpoint or with the query parameter `deleted` on `listExperiments` endpoint. A deleted experiment will be marked as purged and remain in the database for 7 days. The experiment will then be permanently deleted.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_property_type_from_experiment(id, activity_id, resource_def_id, property_type_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The `_id` of the experiment. (required)
        :param str activity_id: The `_id` of the activity. Refers to the Process Activity `_id` from the `listActivities` endpoint. When using the `listExperimentActivities` endpoint, use the `objectId`. (required)
        :param str resource_def_id: The `_id` of the `input` or `output` on the activity for the resource type. (required)
        :param str property_type_id: The `_id` of the property type. (required)
        :return: SuccessfullyDelete
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_property_type_from_experiment_with_http_info(id, activity_id, resource_def_id, property_type_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_property_type_from_experiment_with_http_info(id, activity_id, resource_def_id, property_type_id, **kwargs)  # noqa: E501
            return data

    def delete_property_type_from_experiment_with_http_info(self, id, activity_id, resource_def_id, property_type_id, **kwargs):  # noqa: E501
        """delete_property_type_from_experiment  # noqa: E501

        Performs a 'soft delete' on an existing experiment. The experiment will still be accessible through the api when searching by `_id` on `getExperiment` endpoint or with the query parameter `deleted` on `listExperiments` endpoint. A deleted experiment will be marked as purged and remain in the database for 7 days. The experiment will then be permanently deleted.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_property_type_from_experiment_with_http_info(id, activity_id, resource_def_id, property_type_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The `_id` of the experiment. (required)
        :param str activity_id: The `_id` of the activity. Refers to the Process Activity `_id` from the `listActivities` endpoint. When using the `listExperimentActivities` endpoint, use the `objectId`. (required)
        :param str resource_def_id: The `_id` of the `input` or `output` on the activity for the resource type. (required)
        :param str property_type_id: The `_id` of the property type. (required)
        :return: SuccessfullyDelete
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'activity_id', 'resource_def_id', 'property_type_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_property_type_from_experiment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_property_type_from_experiment`")  # noqa: E501
        # verify the required parameter 'activity_id' is set
        if ('activity_id' not in params or
                params['activity_id'] is None):
            raise ValueError("Missing the required parameter `activity_id` when calling `delete_property_type_from_experiment`")  # noqa: E501
        # verify the required parameter 'resource_def_id' is set
        if ('resource_def_id' not in params or
                params['resource_def_id'] is None):
            raise ValueError("Missing the required parameter `resource_def_id` when calling `delete_property_type_from_experiment`")  # noqa: E501
        # verify the required parameter 'property_type_id' is set
        if ('property_type_id' not in params or
                params['property_type_id'] is None):
            raise ValueError("Missing the required parameter `property_type_id` when calling `delete_property_type_from_experiment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'activity_id' in params:
            path_params['activityId'] = params['activity_id']  # noqa: E501
        if 'resource_def_id' in params:
            path_params['resourceDefId'] = params['resource_def_id']  # noqa: E501
        if 'property_type_id' in params:
            path_params['propertyTypeId'] = params['property_type_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/experiment/{id}/activity/{activityId}/resource-type/{resourceDefId}/property-type/{propertyTypeId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessfullyDelete',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_resource_type_from_experiment(self, id, activity_id, resource_def_id, **kwargs):  # noqa: E501
        """delete_resource_type_from_experiment  # noqa: E501

        Ad hoc removal of a resource type from the `input` or `output` of an activity on an experiment. Only ad hoc added resource types can be deleted from the experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_resource_type_from_experiment(id, activity_id, resource_def_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The `_id` of the experiment the resource type is being deleted from. (required)
        :param str activity_id: The `_id` of the activity the resource type is being deleted from. Refers to the Process Activity `_id` from the `listActivities` endpoint. (required)
        :param str resource_def_id: The `_id` of the `input` or `output` on the activity for the the resource type. (required)
        :return: InlineResponse2001
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_resource_type_from_experiment_with_http_info(id, activity_id, resource_def_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_resource_type_from_experiment_with_http_info(id, activity_id, resource_def_id, **kwargs)  # noqa: E501
            return data

    def delete_resource_type_from_experiment_with_http_info(self, id, activity_id, resource_def_id, **kwargs):  # noqa: E501
        """delete_resource_type_from_experiment  # noqa: E501

        Ad hoc removal of a resource type from the `input` or `output` of an activity on an experiment. Only ad hoc added resource types can be deleted from the experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_resource_type_from_experiment_with_http_info(id, activity_id, resource_def_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The `_id` of the experiment the resource type is being deleted from. (required)
        :param str activity_id: The `_id` of the activity the resource type is being deleted from. Refers to the Process Activity `_id` from the `listActivities` endpoint. (required)
        :param str resource_def_id: The `_id` of the `input` or `output` on the activity for the the resource type. (required)
        :return: InlineResponse2001
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'activity_id', 'resource_def_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_resource_type_from_experiment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_resource_type_from_experiment`")  # noqa: E501
        # verify the required parameter 'activity_id' is set
        if ('activity_id' not in params or
                params['activity_id'] is None):
            raise ValueError("Missing the required parameter `activity_id` when calling `delete_resource_type_from_experiment`")  # noqa: E501
        # verify the required parameter 'resource_def_id' is set
        if ('resource_def_id' not in params or
                params['resource_def_id'] is None):
            raise ValueError("Missing the required parameter `resource_def_id` when calling `delete_resource_type_from_experiment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'activity_id' in params:
            path_params['activityId'] = params['activity_id']  # noqa: E501
        if 'resource_def_id' in params:
            path_params['resourceDefId'] = params['resource_def_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/experiment/{id}/activity/{activityId}/resource-type/{resourceDefId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2001',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_tag_from_experiment(self, id, tag_id, **kwargs):  # noqa: E501
        """delete_tag_from_experiment  # noqa: E501

        Removes a tag from an experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_tag_from_experiment(id, tag_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The `_id` of the experiment. (required)
        :param str tag_id: The `_id` of the tag to be removed from the experiment. (required)
        :return: TagRemove
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_tag_from_experiment_with_http_info(id, tag_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_tag_from_experiment_with_http_info(id, tag_id, **kwargs)  # noqa: E501
            return data

    def delete_tag_from_experiment_with_http_info(self, id, tag_id, **kwargs):  # noqa: E501
        """delete_tag_from_experiment  # noqa: E501

        Removes a tag from an experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_tag_from_experiment_with_http_info(id, tag_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The `_id` of the experiment. (required)
        :param str tag_id: The `_id` of the tag to be removed from the experiment. (required)
        :return: TagRemove
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'tag_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_tag_from_experiment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_tag_from_experiment`")  # noqa: E501
        # verify the required parameter 'tag_id' is set
        if ('tag_id' not in params or
                params['tag_id'] is None):
            raise ValueError("Missing the required parameter `tag_id` when calling `delete_tag_from_experiment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'tag_id' in params:
            path_params['tagId'] = params['tag_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/experiment/{id}/tag/{tagId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TagRemove',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def export_experiment_data(self, id, **kwargs):  # noqa: E501
        """export_experiment_data  # noqa: E501

        Triggers the export of experiment data or returns the latest exported data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.export_experiment_data(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The `_id` of the experiment. (required)
        :param str filename: The desired name to be given to downloadable file.
        :param str file_type: The desired data format type (defaults to `text/csv`) to be given to downloadable file. Can be one of `text/csv`, `binary/parquet`.
        :param bool refresh: If set to true forces a regeneration of all datatables regardless of being stale or not.
        :return: Task
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.export_experiment_data_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.export_experiment_data_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def export_experiment_data_with_http_info(self, id, **kwargs):  # noqa: E501
        """export_experiment_data  # noqa: E501

        Triggers the export of experiment data or returns the latest exported data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.export_experiment_data_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The `_id` of the experiment. (required)
        :param str filename: The desired name to be given to downloadable file.
        :param str file_type: The desired data format type (defaults to `text/csv`) to be given to downloadable file. Can be one of `text/csv`, `binary/parquet`.
        :param bool refresh: If set to true forces a regeneration of all datatables regardless of being stale or not.
        :return: Task
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'filename', 'file_type', 'refresh']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method export_experiment_data" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `export_experiment_data`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'filename' in params:
            query_params.append(('filename', params['filename']))  # noqa: E501
        if 'file_type' in params:
            query_params.append(('fileType', params['file_type']))  # noqa: E501
        if 'refresh' in params:
            query_params.append(('refresh', params['refresh']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/experiment/{id}/export/data', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Task',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def export_experiment_data_status(self, id, **kwargs):  # noqa: E501
        """export_experiment_data_status  # noqa: E501

        Returns the status of the exported experiment data for the specified experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.export_experiment_data_status(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The `_id` of the experiment that has been exported. (required)
        :param str filename: The desired name to be given to downloadable file.
[...]
